<!-- 面包屑 -->
<app-breadcrumb  [crumbstitle]= "crumbstitle" [text]= "text"></app-breadcrumb>
<div id="bodypading">
  <!-- 搜索 -->
    <div nz-row class="search">
        <div nz-col nzSpan="3">
            <div class="aboutinput">
                <el-input [(ngModel)]="value1"  placeholder="请输入内容"></el-input>
            </div>
        </div>
        <div nz-col nzSpan="3">
          <div class="aboutinput">
              <el-input  [(ngModel)]="value2"  placeholder="请输入内容"></el-input>
          </div>
        </div>
        <div nz-col nzSpan="3">
          <div class="aboutinput">
            <el-select [model]="selectedValue" placeholder="请选择" (modelChange)="handle($event)">
                <el-option *ngFor="let item of seletclabe"
                  [label]="item"
                  [value]="item">
                </el-option>
            </el-select>
          </div>
        </div>
        <div nz-col nzSpan="1">
            <button nz-button nzType="primary" (click)="searchClick()">
              <i nz-icon type="search"></i>Search
            </button>
        </div>
    </div>
  <!-- 表格 -->
    <nz-table [nzData]="list"   >
      <thead>
        <tr>
          <th>包编号</th>
          <th>产品类型</th>
          <th>产品地址</th>
          <th>状态</th>
          <!-- <th>操作</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list; let key=index">
          <td>{{ item.spMerchantAgent }}</td>
          <td>{{ item.spCreateDate }}</td>
          <td>{{ item.spMerchantType }}</td>
          <td>{{ item.spCreateDate }}</td>
          <!-- <td>
            <span (click)="examine(item)">查看</span>           
            <nz-divider nzType="vertical"></nz-divider>
            <span>编辑</span>
            <nz-divider nzType="vertical"></nz-divider>
            <span (click)="delkey(item)" style = "color: #f00">删除</span>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
</div>