<!-- NG-ZORRO -->
<nz-layout>
  <!-- 侧边栏  -->
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" >
          <!-- logo -->
          <div class="logo">
              <span>LOGO</span>
          </div>
          <!-- 导航 -->
          <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item 
            *ngFor="let item of items, let key=index;"  [routerLink]="item.path"
            (click)="navtext($event)"
            >
              <span>
                <i nz-icon type="{{item.icon}}"></i>
                <span class="nav-text">{{item.title}}</span>
              </span>
            </li>
            <!-- 二级菜单 [ '/home/echerts' ]-->
            <!-- <li nz-submenu *ngFor="let item of navlist">
              <span title>
                <i nz-icon type="{{item.icon}}"></i>
                <span class="nav-text">{{item.title}}</span>
              </span>
              <ul>
                <li nz-menu-item *ngFor="let v of item.list"  routerLink="{{v.path}}" (click)="navtext($event)">
                  {{v.title}}
                </li>
              </ul>
            </li> -->
          </ul>
        </nz-sider>
        <nz-layout>
        <!-- 头部 -->
          <nz-header style="background: #fff; padding:0;">
            <i
              class="trigger"
              nz-icon
              [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="menu()"
            ></i>
          </nz-header>
          <nz-content style="margin:0px 16px 16px 16px;">
          <!-- 内容区域 -->
            <router-outlet></router-outlet>
          </nz-content>
          <!-- 底部 -->
          <!-- <nz-footer style="text-align: center;">Ant Design 2019 Implement By Angular</nz-footer> -->
        </nz-layout>
      </nz-layout>
      <ng-template #trigger>
        <i nz-icon type="up"></i>
      </ng-template>
   