<!-- 面包屑 -->
<app-breadcrumb  [crumbstitle]= "crumbstitle" [text]= "text"></app-breadcrumb>
<div id="bodypading">
  <div class="gutter-example">

    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzSpan="12" >
        <div class="gutter-boxone">
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="14" >
                      <h3 class="card-title text-white">可用余额</h3>
                      <h1 class="card-title text-white">10000.00</h1>
                </div>
                <div nz-col class="gutter-row" nzSpan="10" >
                  <div class="gutter-box">
                      <i class="v-icon" style="font-size: 36px; color:#843cf6;    line-height: 80px;
                      " nz-icon nzType="transaction" nzTheme="outline"></i>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="12" >
          <div class="gutter-boxtwo">
              <div nz-row nzGutter="16">
                  <div nz-col class="gutter-row" nzSpan="14" >
                        <h3 class="card-title text-white">可用余额</h3>
                        <h1 class="card-title text-white">10000.00</h1>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="10" >
                    <div class="gutter-box">
                        <i nz-icon nzType="property-safety" style="font-size: 36px; color:#0e4cfd;    line-height: 80px;
                        " nzTheme="outline"></i>
                    </div>
                  </div>
                </div>
          </div>
        </div>
    </div>

    <div nz-row nzGutter="16" class="announcement">
      <div nz-col class="gutter-row" nzSpan="24" >
          <nz-page-header (nzBack)="onBack()"  nzTitle="公告" nzSubtitle="Announcement"> </nz-page-header>
      </div>
      <div nz-col class="gutter-row" nzSpan="24" >
        <ol>
          <li>
              几个月前我在我的fb墙上分享了这个，
          </li>
          <li>
              几个月前我在我的fb墙上分享了这个，
          </li>
          <li>
              几个月前我在我的fb墙上分享了这个，
          </li>
          <li>
              几个月前我在我的fb墙上分享了这个，
          </li>
        </ol>
      </div>
    </div>

  </div>
</div>