/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/src/ng-zorro-antd.css";
body{
    background: rgb(240, 242, 245);
}
#bodypading{
    background: #ffffff;
    padding: 16px;
}
.search{
    margin-bottom: 1%;
}